@font-face {
   font-family: 'SVN-Avo';
   font-display: swap;
   src: url('file:///C:/Users/HUNG.NQ183760/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-26_154352/fonts/SVN-Avo/font.ttf');
}
